@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon5371.eot?cry205');
  src:  url('../fonts/icomoon5371.eot?cry205#iefix') format('embedded-opentype'),
    url('../fonts/icomoon5371.ttf?cry205') format('truetype'),
    url('../fonts/icomoon5371.woff?cry205') format('woff'),
    url('../fonts/icomoon5371.svg?cry205#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e900";
}
.icon-arrow-right2:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-grid:before {
  content: "\e903";
}
.icon-arrow-right3:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-zoom:before {
  content: "\e906";
}
.icon-magnifier:before {
  content: "\e906";
}
.icon-magnifying-glass:before {
  content: "\e906";
}
.icon-instagram2:before {
  content: "\e907";
}
.icon-social:before {
  content: "\e907";
}
.icon-in-alt:before {
  content: "\e908";
}
.icon-right:before {
  content: "\e908";
}
.icon-enter:before {
  content: "\e908";
}
.icon-sign-in:before {
  content: "\e908";
}
.icon-login:before {
  content: "\e908";
}
.icon-person:before {
  content: "\e909";
}
.icon-search2:before {
  content: "\e986";
}
.icon-man:before {
  content: "\e9dc";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-share22:before {
  content: "\ea82";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram4:before {
  content: "\ea92";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-pinterest3:before {
  content: "\ead1";
}
.icon-pinterest22:before {
  content: "\ead2";
}
.icon-angle-right:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\e90b";
}
.icon-pinterest-p:before {
  content: "\e90c";
}
.icon-pinterest-square:before {
  content: "\e90d";
}
.icon-pinterest2:before {
  content: "\e90e";
}
.icon-facebook-official:before {
  content: "\e90f";
}
.icon-facebook-square:before {
  content: "\e910";
}
.icon-share-alt:before {
  content: "\e911";
}
.icon-share-square-o:before {
  content: "\e912";
}
.icon-mail-forward:before {
  content: "\e913";
}
.icon-share2:before {
  content: "\e913";
}
.icon-commenting-o:before {
  content: "\e914";
}
.icon-folder:before {
  content: "\e915";
}
.icon-reply:before {
  content: "\e916";
}
.icon-arrow:before {
  content: "\e916";
}
.icon-left:before {
  content: "\e916";
}
.icon-undo:before {
  content: "\e916";
}
.icon-linkedin-with-circle:before {
  content: "\e917";
}
.icon-instagram-with-circle:before {
  content: "\e918";
}
.icon-instagram3:before {
  content: "\e919";
}
.icon-pinterest-with-circle:before {
  content: "\e91a";
}
.icon-pinterest:before {
  content: "\e91b";
}
.icon-facebook-with-circle:before {
  content: "\e91c";
}
.icon-facebook:before {
  content: "\e91d";
}
.icon-twitter-with-circle:before {
  content: "\e91e";
}
.icon-share-alternitive:before {
  content: "\e91f";
}
.icon-chevron-with-circle-right:before {
  content: "\e920";
}
.icon-chevron-thin-right:before {
  content: "\e921";
}
.icon-chevron-with-circle-left:before {
  content: "\e922";
}
.icon-chevron-thin-left:before {
  content: "\e923";
}
.icon-user:before {
  content: "\e924";
}
.icon-left-lines:before {
  content: "\e925";
}
.icon-tire:before {
  content: "\e926";
}
.icon-security:before {
  content: "\e927";
}
.icon-foreign-policy:before {
  content: "\e928";
}
.icon-users:before {
  content: "\e929";
}
.icon-solar-fan:before {
  content: "\e92a";
}
.icon-education-cap:before {
  content: "\e92b";
}
.icon-heading-icon:before {
  content: "\e92c";
}
.icon-right-lines:before {
  content: "\e92d";
}
.icon-thum-like:before {
  content: "\e92e";
}

